<ion-view title="Game TV" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="gameTV-list4">
      <ion-item class="item-icon-left" id="gameTV-list-item11">
        <i class="icon ion-ios-videocam"></i>Preview</ion-item>
      <ion-item class="item-icon-left" id="gameTV-list-item12">
        <i class="icon ion-clipboard"></i>Review</ion-item>
      <ion-item class="item-icon-left" id="gameTV-list-item13">
        <i class="icon ion-ios-game-controller-a"></i>Walk Trough</ion-item>
      <ion-item class="item-icon-left" id="gameTV-list-item14">
        <i class="icon ion-android-calendar"></i>Event</ion-item>
    </ion-list>
  </ion-content>
</ion-view>