<ion-view title="Wibu Corner" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="wibuCorner-list2">
      <ion-item class="item-icon-left" id="wibuCorner-list-item4">
        <i class="icon ion-android-film"></i>AMV Privadi</ion-item>
      <ion-item class="item-icon-left" id="wibuCorner-list-item5">
        <i class="icon ion-android-calendar"></i>Event Daerah</ion-item>
      <ion-item class="item-icon-left" id="wibuCorner-list-item6">
        <i class="icon ion-android-bookmark"></i>Job JLPT</ion-item>
    </ion-list>
  </ion-content>
</ion-view>